@model web_proje.Models.Doktor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doktor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoktorAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoktorAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoktorSoyadi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoktorSoyadi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnaBilimDali)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnaBilimDali)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Polikinlik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Polikinlik.PolikinlikId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DoktorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
