@model IEnumerable<web_proje.Models.Polikinlik>

@{
    ViewData["Title"] = "Index";
}

@if (@User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hastane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolikinlikAdi)
            </th>          

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hastane.HastaneAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolikinlikAdi)
            </td>
                @if (@User.IsInRole("admin"))
                {
                    <td>
                    <a asp-action="Edit" asp-route-id="@item.PolikinlikAdi">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PolikinlikId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PolikinlikId">Delete</a>
                    </td>
                }              
        </tr>
}
    </tbody>
</table>
