@model List<Doktor>
@{
    Layout = "_AdminLayout";
}


<table class="table"> 
    <thead>
        <tr>
            <td>Doktor No</td>
            <td>Doktor Adı</td>
            <td>Polikinlik</td>
            <td>Ana Bilim Dalı</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var doktor in Model)
        {
        <tr>
            <td>@doktor.DoktorId</td>
            <td><a href="">@doktor.DoktorAdi @doktor.DoktorSoyadi</a></td>
            <td>@doktor.Polikinlik.PolikinlikAdi</td>
            <td>@doktor.AnaBilimDali</td>                  
        </tr>
        }    
    </tbody>
</table>