@model List<Randevu>
@{
    Layout = "_AdminLayout";
}


<table class="table">
    <thead>
        <tr>
            <td>Randevu No</td>
            <td>Hastane</td>
            <td>Polikinlik</td>
            <td>Doktor</td>
            <td>Kullanıcı</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var randevu in Model)
        {
            <tr>
                <td>@randevu.RandevuId</td>
                <td>@randevu.Hastane.HastaneAdi</td>
                <td>@randevu.Polikinlik.PolikinlikAdi</td>
                <td>@randevu.Doktor.DoktorAdi @randevu.Doktor.DoktorSoyadi</td>
                <td>@randevu.Kullanici.KullaniciAdi @randevu.Kullanici.KullaniciSoyadi</td>
            </tr>
        }
    </tbody>
</table>