@model Kullanici
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciSoyadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KullaniciSifre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.KullaniciAdi)
            </td>
            <td>
                @Html.DisplayFor(model => model.KullaniciSoyadi)
            </td>
            <td>
                @Html.DisplayFor(model => model.KullaniciEmail)
            </td>
            <td>
                @Html.DisplayFor(model => model.KullaniciSifre)
            </td>
            @foreach(var randevu in Model.Randevulari)
            {
                <td>@Html.DisplayFor(randevu => randevu)</td>
            }
           
        </tr>
    </tbody>
</table>
